body {
	background-color: #9ce4ac;
}

.main-contents {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFCC;
	height: 100%;
	width: 1325px;
}

.message {
	background-color: #FFFFCC;
	margin-top: 50px;
	margin-left: 50px;
	width: 1000px;
}

.comment-form {
	background-color: #FFFFCC;
	margin-top: 40px;
	margin-left: 120px;
}

.comments {
	background-color: #FFFFCC;
	margin-top: 10px;
	margin-left: 250px;
	width: 800px;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

.comment-box {
	margin: 2em auto;
	padding: 1em;
	width: 90%; /*幅の調節*/
	color: #666666; /*文字色*/
	background-color: #d8d8d8; /*背景色*/
	border: 2px solid #ccc; /*線の太さ・色*/
	border-radius: 8px; /*角の丸み*/
}

.message-box {
	margin: 2em auto;
	padding: 1em;
	width: 90%; /*幅の調節*/
	color: #666666; /*文字色*/
	background-color: #ffcaff; /*背景色*/
	border: 2px solid #ccc; /*線の太さ・色*/
	border-radius: 8px; /*角の丸み*/
}

.header {
	text-align: right;
}

.newmessege-form {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #FFFFCC;
}

.message-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
}

.message-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
}

.message-icon .text {
	height: 40px;
}

.message-icon .message {
	margin-left: 60px;
}

.message-icon .account-name {
	margin-top: 1px;
	margin-bottom: 5px;
}

.message-icon .account-name .account {
	font-weight: bold;
}

.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}